/*



 */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.howto-instructions {
  font-size: 24px;
  line-height: 32px;
  font-family: Monaco, monospace;
  width: 540px;
  float: left;
  color: #dcdbe3;
  padding: 64px 0 100px;
}
.howto-instructions ol {
  list-style-type: decimal;
  list-style-position: outside;
}
.howto-instructions li {
  margin-bottom: 24px;
}
.howto-instructions a {
  color: #dcdbe3;
}
.howto-examples {
  position: relative;
  height: 200px;
  width: 380px;
  float: right;
}
.howto-examples img {
  position: absolute;
  left: 0;
  display: none;
}
.howto-examples img:nth-child(1) {
  top: 48px;
}
.howto-examples img:nth-child(2) {
  top: 114px;
}
.howto-examples img:nth-child(3) {
  top: 180px;
}
.landing {
  border-top: 2px solid #7f7a95;
  border-bottom: 2px solid #7f7a95;
  background: url(/assets/landing-4a1bab0aab3228e6e63da452b33d90d8.png);
  padding: 80px 0;
}
.landing-brief {
  font-size: 60px;
  line-height: 82px;
  font-weight: 700;
  color: white;
  width: 540px;
  float: left;
}
.landing-sign-up {
  width: 380px;
  float: right;
  text-align: center;
}
.landing-sign-up a {
  color: #dcdbe3;
  text-decoration: none;
  position: relative;
  top: -18px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.landing-sign-up a i.fa {
  font-size: 200px;
  line-height: 180px;
  display: block;
}
.landing-sign-up a span {
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid;
}
.landing-sign-up a:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
body {
  background: #444349;
  font-family: Helvetica Neue, Helvetica, sans-serif;
}
.wrapper {
  width: 940px;
  margin: 0 auto;
}
.clearfix {
  clear: both;
}
.main-header {
  padding: 24px 0;
}
.main-header-title {
  font-size: 24px;
  font-weight: 700;
  position: relative;
  float: left;
  width: 780px;
  left: 46px;
  color: #a4a2b6;
  font-family: Monaco, monospace;
  padding-top: 10px;
  min-height: 1em;
}
.main-header-title:before {
  content: "";
  position: absolute;
  width: 55px;
  height: 40px;
  background: url(/assets/main-header-title-before-203d075f90c99df37895a91eab7e3bcb.png) no-repeat left top;
  background-size: 55px 40px;
  left: -75px;
  top: 0;
}
.main-header-auth {
  float: right;
  width: 140px;
  padding-top: 14px;
  text-align: right;
}
.main-header-auth a {
  color: #dcdbe3;
  font-size: 18px;
}
.main-footer {
  padding: 40px 0 40px;
  color: #dcdbe3;
  text-align: center;
  border-top: 2px solid #7f7a95;
  background: url(/assets/landing-4a1bab0aab3228e6e63da452b33d90d8.png);
}
.main-footer a {
  color: #dcdbe3;
}
#typed-cursor {
  display: none;
}
.projects-title {
  border-top: 2px solid #7f7a95;
  border-bottom: 2px solid #7f7a95;
  background: url(/assets/landing-4a1bab0aab3228e6e63da452b33d90d8.png);
  font-size: 42px;
  line-height: 60px;
  font-weight: 600;
  padding: 20px 0;
  color: white;
}
.projects-list {
  padding: 40px 0 0;
  float: left;
  width: 380px;
}
.projects-list-item {
  margin-bottom: 20px;
}
.projects-list-item-name {
  float: left;
  margin-bottom: 6px;
}
.projects-list-item-name input {
  background: none;
  border: 2px solid transparent;
  color: #dcdbe3;
  outline: none;
  font-size: 24px;
  position: relative;
  width: 296px;
  left: -4px;
}
.projects-list-item-name input:focus {
  border-color: #7f7a95;
}
.projects-list-item-token {
  font-size: 18px;
  color: #a4a2b6;
}
.projects-list-item-token a {
  margin-left: 20px;
  color: #a4a2b6;
}
.projects-list-item-token a:hover {
  color: #dcdbe3;
}
.projects-add {
  font-size: 20px;
  margin-bottom: 40px;
}
.projects-add a {
  color: #dcdbe3;
}
.projects-documentation {
  padding: 40px 0 0;
  float: right;
  width: 460px;
  margin-bottom: 100px;
  font-family: Monaco, monospace;
  color: #dcdbe3;
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 24px;
}
.projects-documentation p {
  margin-bottom: 16px;
}
.projects-documentation .comment {
  color: #a4a2b6;
}
.subscription {
  padding: 120px 0 200px;
}
.subscription-title {
  font-size: 36px;
  text-align: center;
  color: #dcdbe3;
  margin-bottom: 48px;
}
