@import "shared.css.less";

.projects {

}

.projects-title {
  border-top: 2px solid @spacelightblue;
  border-bottom: 2px solid @spacelightblue;
  background: image-url("landing.png");
  font-size: 42px;
  line-height: 60px;
  font-weight: 600;
  padding: 20px 0;
  color: white;
}

.projects-list {
  padding: 40px 0 0;
  margin-bottom: 20px;
}

.projects-list-item {
  margin-bottom: 100px;
  font-family: @monospace;
  color: @spacewhite;
  white-space: pre;
  font-size: 24px;
  line-height: 42px;

  .comment {
    color: darken(@spacewhite, 20%);
  }
}
